* {
    box-sizing: border-box;
  }
  .row1 {
    vertical-align:center !important;
    height:100vh;
    max-width:1400px;
    margin: 0 auto;
    }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    padding: 0% !important;
    clear: both;
  }
  .responsive {
    max-width: 450px;
  }
  input:focus, textarea:focus, select:focus{
          outline: none;
      }
  
  @media screen and (max-width: 1120px) {
    div.example {
      display: none !important;
    }
    div.example3 {
      display: none !important;
    }
    div.example1 {
      display: block !important;
      width:100% !important;
      text-align: center !important;
    }
     div.example2 {
      width:100% !important;
    }
  }
  @media screen and (max-width: 600px) {
    div.example {
      display: none !important;
    }
    div.example1 {
      display: none !important;
    }
    div.example3 {
      display: block !important;
      width:100% !important;
      text-align: center !important;
    }
     div.example2 {
      width:100% !important;
    }
  }
  .header {
    padding: 60px;
    text-align: center;
    color: white;
    background-color: #e03249;
    font-size: 30px;
    border-radius: 0% 0% 100% 100% !important; 
  }