<div class="row row1 d-flex justify-content-center align-items-center">
    <div class="column example" style="text-align:center;margin-right:5%;width: 35%;">
        <h2 style="color: #e03249">Nearpeer LMS</h2>
        <img style="margin-top:-65px;" src="../assets/Login-Sign-Up-Illustration.svg" alt="Nature" class="responsive"
            width="450" height="400">
        <h3 style="margin-top:-55px;"><b>Welcome to Nearpear</b><br><b>StudyTime Portal</b></h3>
        <p> All your study requirenemnt in one place.</p>
    </div>
    <div class="column example1" style="display:none;">
        <div class="header">
            <h1>Nearpeer LMS</h1>
        </div>
        <img style="margin-top:-50px; z-index:2;" src="../assets/Login-Sign-Up-Illustration.svg" alt="Nature"
            class="responsive" width="200" height="150">
        <br><br><br>
        <h3 style="margin-top:-55px;"><b>Welcome to Nearpear</b><br><b>StudyTime Portal</b></h3>
        <p> All your study requirenemnt in one place.</p>
    </div>
    <div class="column example3" style="display:none;">
        <div class="header">
            <h1>NP Nearpeer</h1>
        </div>
    </div>
    <div class="column example2" style="width:30%;">
        <button type="button" id="login" class="btn btn-light btn-lg" v-on:click="Openform"
            style="box-shadow:none;font-weight:bold;color: #e03249;float:left;background:transparent;">Login</button>
        <button type="button" id="signup" class="btn btn-light btn-lg" v-on:click="Openform2"
            style="box-shadow:none;float:right;background:transparent;">Sign Up</button>

        <br>
        <br>
        <hr id="hr1" style="color: red;width:42%;float:left;height:4px;">
        <hr id="hr2" style="width:42%;float:right;height:4px;">
        <br><br>
        <div id="form1">
            <form>
                <div class="form-group">
                    <label style="font-size: 18px;" for="email"><b> Email or Phone</b></label><br>
                    <input type="text" class="form-control" v-model="input.email" style="margin-left: -3%;border: 0;box-shadow: none;margin-top:5px;"
                        id="email" aria-describedby="emailHelp"
                        placeholder="nearpear@gmail.com or 923*********">
                        <p id="dis1" style="display :none;color:red;margin : 0;">Email is Mandatory</p>
                        <p id="dis15" style="display :none;color:red;margin : 0;">Email does not exist in database!</p>
                        <p id="dis13" style="display :none;color:red;margin : 0;">Email is Invalid!</p>
                </div>
                <div class="form-group">
                    <label style="font-size: 18px;" for="password"><b>Password</b></label><br>
                    <input type="password"  class="form-control" v-model="input.password"
                        style="margin-left: -3%;border: 0;box-shadow: none;margin-top:5px;" id="password"
                        placeholder="Password">
                        <p id="dis2" style="display :none;color:red;margin : 0">Password is Required</p>
                        <p id="dis16" style="display :none;color:red;margin : 0;">Password Incorrect</p>
                </div>
                <div class="form-group form-check" style="float:left;">
                    <label class="form-check-label" style="font-size: 20px;color:grey;" for="exampleCheck1">Remember
                        Me</label>
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                </div>
                <a style="float:right;color:grey;text-decoration:none;" href="https://www.w3schools.com">Forget
                    Password!</a>
                <br><br>
                <button  type="button" @click="checkForm()"  style="font-size: 18px;margin-left:15px;margin-right:15px;float:right;border:none;background-color: #e03249"
                    class="btn btn-primary"><b>&nbsp;LOGIN&nbsp;</b> </button>
            </form>
            <br><br><br>
            <hr style="width:45%;float:left;height:1px;"><b>OR</b>
            <hr style="width:45%;float:right;height:1px;">
            <br>
            <button type="button" class="btn btn-light btn-lg"
                style="text-align:center;font-size: 15px;margin-top:5px;border-radius: 50px 50px 50px 50px;width:90%"><img
                    style="margin-left:19%;" src="../assets/apple-black.svg" alt="Nature" width="25"
                    height="25">&emsp;Continue as a Guest</button>
            <button type="button" class="btn btn-light btn-lg"
                style="text-align:center;font-size: 15px;margin-top:5px;border-radius: 50px 50px 50px 50px;width:90%"><img
                    style="margin-left:22%;" src="../assets/MaskGroup82.svg" alt="Nature" width="20"
                    height="20">&emsp;Continue with Google</button>
            <button type="button" class="btn btn-light btn-lg"
                style="float:left;font-size: 15px;margin-top:5px;border-radius: 50px 50px 50px 50px;width:90%"><img
                    style="margin-left:23%;" src="../assets/f-blue.svg" alt="Nature" width="20"
                    height="20">&emsp;Continue with Facebook</button>
            <button type="button" class="btn btn-light btn-lg"
                style="float:left;font-size: 15px;margin-top:5px;border-radius: 50px 50px 50px 50px;width:90%"><img
                    style="margin-left:19%;" src="../assets/apple-black.svg" alt="Nature" width="25"
                    height="25">&emsp;Continue with Apple</button>

        </div>
        <div id="form2" style="display :none;">
            <form>
                <div class="form-group">
                    <label style="font-size: 18px;" for="fullname"><b>Fullname</b></label>
                    <input type="text" class="form-control" v-model="signup.fullname"
                        style="margin-left: -3%;border: 0;box-shadow: none;margin-top:5px;" id="fullname"
                        aria-describedby="emailHelp" placeholder="Full name">
                        <p id="dis3" style="display :none;color:red;margin : 0">Full name is Required</p>
                </div>
                <div class="form-group">
                    <label style="font-size: 18px;" for="email1"><b>Email</b></label>
                    <input type="email" class="form-control" v-model="signup.email1"
                        style="margin-left: -3%;border: 0;box-shadow: none;margin-top:5px;" id="email1"
                        aria-describedby="emailHelp" placeholder="Email">
                        <p id="dis4" style="display :none;color:red;margin : 0;">Email is Required</p>
                        <p id="dis12" style="display :none;color:red;margin : 0;">Email is Invalid!</p>
                        <p id="dis14" style="display :none;color:red;margin : 0;">Email already exist!</p>
                </div>
                <div class="form-group">
                    <label style="font-size: 18px;" for="contactno"><b>Contact</b></label>
                    <input type="text" class="form-control" v-model="signup.contact"
                        style="margin-left: -3%;border: 0;box-shadow: none;margin-top:5px;" id="contactno"
                        aria-describedby="emailHelp" placeholder="923*********">
                        <p id="dis5" style="display :none;color:red;margin : 0">Phone Number is Required</p>
                        <p id="dis6" style="display :none;color:red;margin : 0">Phone Number should be numeric only</p>
                        <p id="dis7" style="display :none;color:red;margin : 0">Phone Number length should be greater then or equal to 11</p>
                </div>
                <div class="form-group">
                    <label style="font-size: 18px;" for="password1"><b>Password</b></label>
                    <input type="password" class="form-control" v-model="signup.password1"
                        style="margin-left: -3%;border: 0;box-shadow: none;margin-top:5px;" id="password1"
                        placeholder="Enter 8 to 20 characters"> 
                        <p id="dis8" style="display :none;color:red;margin : 0">Password is Required</p>
                        <p id="dis9" style="display :none;color:red;margin : 0">Password length should be greater then or equal to 8</p>
                </div>
                <div class="form-group">
                    <label style="font-size: 18px;" for="password2"><b>Confirm Password</b></label>
                    <input type="password" class="form-control" v-model="signup.confirmPassword"
                        style="margin-left:-3%;border: 0;box-shadow: none;margin-top:5px;" id="password2"
                        placeholder="Confirm your Password">
                        <p id="dis10" style="display :none;color:red;margin : 0">Confirm Password is Required</p>
                        <p id="dis11" style="display :none;color:red;margin : 0">Password and Confirm Password should be the same</p>
                
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label style="font-size: 18px;"><b>Date of Birth</b></label>
                        <input style="border:none" type="date" id="birthday" name="birthday">
                    </div>
                    <div class="col-sm-6">
                        <label><b>Gender</b></label><br>
                        <input type="radio" name="gender" id="male">
                        <label for="m"><b>Male</b></label>
                        <input type="radio" name="gender" id="female">
                        <label for="f"><b>Female</b></label>
                    </div><br><br><br>
                    <p>By creating an account, I accept Nearpeer's Terms of Service and Privacy Policy.</p>
                </div>
                <button type="button" @click="checkForm2(signup)" style="font-size: 18px;margin-left:15px;margin-right:15px;float:right;border:none;background-color: #e03249"
                    class="btn btn-primary"><b>&nbsp;CREATE ACCOUNT&nbsp;</b></button>
            </form>
        </div>
    </div>
</div>